@import url(./reset.css);

/* theme */ 

header{
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        line-height: 8.5rem;
        color: #fff;
        /*text-align: center;*/
        text-transform: uppercase;
        font-weight: bolder;
        padding-left: 2rem;
    }

    nav ul{
        display: flex;
        align-items: center;

        li{
            width: 18rem;
            line-height: 6.0;
            text-transform: uppercase;

            *{
                display: block;
                transition: all .5s ease-in-out;
                text-align: center;
                color: #fff;
            }
        }
    }
}

nav ul li:hover a {
    background-color: #454545;
    color: #fff;
}

.gallery-content{
    max-width: 90.0rem;
    margin: 5rem auto 2rem;
    
        .gallery-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        }

        .gallery-grid li img {
            width: 100%;
            filter: drop-shadow(0 0 0.75rem crimson);
        }

}

picture{
    
    width: 50rem;
    display: flex;
    margin: 0 auto 1rem;
    justify-content: center;

    img{
        transform: scale(0.7);
        filter: drop-shadow(0 0 0.75rem rgb(19, 0, 143));
    }
}

article{
    max-width: 80rem;
    margin: 0 auto 1rem;

    h2{
        width: max-content;
        padding: .5rem 1rem;
        background-color: #222;
        color: #fff;
        font-size: x-large;
    }

    p{
        border-top: solid .1rem #222;
        padding: 1rem;
        background-color: #707a6f40;
    }
}

details{ 

    summary{
    background-color: #4b0000d8;
    color: #fff;
    padding: .5rem 1rem;

     h3::before{
        content: " +📂 ";
        color: #fff;
     }
    }

    ul li{
        text-transform: uppercase;
        padding: 1rem;
        background-color: #fafafa;
    }
}

details ul li:nth-child(2n + 1){
    background-color: #78787889;
    padding: 1rem;
}

details[open] > summary h3::before{
    content: " -📁 ";
}

footer *{
    text-align: center;
}

@media screen and (max-width: 90.0rem){


    header{
        flex-direction: column;
        h1{
            font-size: 1.75rem;
        }
    }

    .gallery-content{
        width: auto;
        margin: 5rem auto 2rem;
        
            .gallery-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            }
    }

    .image{
        img{
            transform:scale(0.5) ;
        }
    }

    nav ul{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    details{ 

        summary{    
         h3{
            font-size: xx-large;
         }
        }
    }


}

@media screen and (orientation: landscape){
    header{ 
      flex-direction: row; 
      h1{
        font-size: 2rem;
      }
    }
    nav ul{
      display: flex;
      align-items: center;
      flex-direction: row;
    }

}


